// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: rgba(65, 80, 97),
    200: rgba(65, 80, 97),
    300: rgba(65, 80, 97),
    400: rgba(65, 80, 97),
    500: rgb(51, 63, 77),
  ),
  secondary: (
    100: rgba(235, 239, 243),
    200: rgba(235, 239, 243),
    300: rgba(235, 239, 243),
    400: rgba(235, 239, 243),
    500: rgba(235, 239, 243),
  ),
  neutral: (
    100: rgba(185, 151, 32),
    200: rgba(185, 151, 32),
    300: rgba(185, 151, 32),
    400: rgba(185, 151, 32),
    500: rgba(185, 151, 32),
    600: rgba(185, 151, 32),
    700: rgba(185, 151, 32),
    800: rgb(163, 134, 29),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
