---


const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>@2024 Mendes & Rosa</p>
    </div>
  </section>
</footer>
