---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/catalog/">Catálogo</a>
    </li>
    <li class="menu-item">
      <a href="/propose/">Faça um orçamento</a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://www.facebook.com/profile.php?id=100065617324644&locale=ms_MY&paipv=0&eav=AfbfkKAxUGaKX8MDxsOLWSJNF-Xo7pf2Qon_u78vennVPw_VKn9mVAhMOL8JJW2Jffs&_rdr" title="Conheça nossa pagina no Facebook">
        <Icon name="ion:logo-facebook" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
